USE [eplus_work]
GO

--  exec USP_INVOICE_LAST_LOTS @ID_GOODS=56357,@ID_STORE=25,@ID_CONTRACTOR=2435

/****** Object:  StoredProcedure [dbo].[USP_INVOICE_LAST_LOTS]    Script Date: 17.06.2021 0:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_INVOICE_LAST_LOTS](
    @ID_GOODS BIGINT,
    @ID_STORE BIGINT,
    @ID_CONTRACTOR BIGINT
)
AS
    CREATE TABLE #LAST_LOT_INFO(
        GROUP_ID INT,
        NAME VARCHAR(100),
        VALUE_CHAR VARCHAR(300),
        VALUE_DATE DATETIME,
        VALUE_MONEY MONEY,
        IN_SHORT BIT,
        VALUE_TYPE INT,
        IS_PRICE_SAL BIT,
        PRIORITY INT
    )

    CREATE TABLE #LAST_LOT_INFO_STORE(
        PRICE_SUP0 MONEY,
        PRICE_SUP MONEY,
        PRICE_SAL MONEY,
        QTY_REM MONEY,
        DATE_OP DATETIME,
        SUPPLIER VARCHAR(255)
    )

	SELECT
		L.ID_LOT_GLOBAL,
		L.INVOICE_DATE,
		L.QUANTITY_REM,
		L.QUANTITY_ADD,
		L.ID_SCALING_RATIO,
		L.ID_STORE,
		L.ID_GOODS,
		L.ID_TABLE
	into #LOT_RAW
	FROM LOT L
	WHERE L.ID_TABLE in (2,30)
		AND (L.QUANTITY_ADD > 0 or L.QUANTITY_REM > 0)
		--AND L.ID_GOODS = @ID_GOODS -- оригинальная строка
		-- 2021
		AND L.ID_GOODS in (select ID_GOODS from V_GOODS_NAMES where nm in (select nm from V_GOODS_NAMES where ID_GOODS = @ID_GOODS)) -- добавляем препараты с аналогичными названиями
		--and L.ID_GOODS not in (select ID_GOODS from GOODS where GOODS.IMPORTANT =1) 
		-- ЖВ препараты отбрасываем
		and L.ID_GOODS not in (select ID_GOODS from GOODS_2_GROUP where ID_GOODS_GROUP = 390 and ID_GOODS not in (select ID_GOODS from GOODS where GOODS.IMPORTANT =1) ) -- выбрасываем то что  в ассортиментном плане
		-- 2021
	CREATE UNIQUE CLUSTERED INDEX IX_TEMP_T2 ON #LOT_RAW (ID_LOT_GLOBAL)

	select L.*
		,S.ID_CONTRACTOR
	into #LOT
	from #LOT_RAW L
		inner join STORE S on S.ID_STORE = L.ID_STORE

	CREATE UNIQUE CLUSTERED INDEX IX_TEMP_T3 ON #LOT (ID_LOT_GLOBAL)

    INSERT INTO #LAST_LOT_INFO_STORE
    SELECT
        (L.PRICE_SUP - L.PVAT_SUP) * CONVERT(MONEY, SR.DENOMINATOR) / SR.NUMERATOR,
        L.PRICE_SUP * CONVERT(MONEY, SR.DENOMINATOR) / SR.NUMERATOR,
        L.PRICE_SAL * CONVERT(MONEY, SR.DENOMINATOR) / SR.NUMERATOR,
        REM.QTY_REM,
        LAST_LOT.DATE_OP,
        SUP.NAME
    FROM LOT L
		INNER JOIN SCALING_RATIO SR ON SR.ID_SCALING_RATIO = L.ID_SCALING_RATIO
		INNER JOIN CONTRACTOR SUP ON SUP.ID_CONTRACTOR = L.ID_SUPPLIER
		INNER JOIN (
			SELECT TOP 1
				L.ID_LOT_GLOBAL,
				DATE_OP = L.INVOICE_DATE
			FROM #LOT L
			WHERE L.QUANTITY_ADD > 0
				AND L.ID_STORE = @ID_STORE
			ORDER BY L.INVOICE_DATE DESC
		) LAST_LOT ON LAST_LOT.ID_LOT_GLOBAL = L.ID_LOT_GLOBAL
		LEFT JOIN (
			SELECT
                L.ID_GOODS,
                QTY_REM = SUM(L.QUANTITY_REM * CONVERT(MONEY, SR.NUMERATOR) / SR.DENOMINATOR)
			FROM #LOT L
				INNER JOIN SCALING_RATIO SR ON SR.ID_SCALING_RATIO = L.ID_SCALING_RATIO
			WHERE L.ID_STORE = @ID_STORE
				AND L.QUANTITY_REM > 0
			GROUP BY L.ID_GOODS
        ) REM ON REM.ID_GOODS = L.ID_GOODS

    CREATE TABLE #LAST_LOT_INFO_AP(
        PRICE_SAL MONEY
    )

    INSERT INTO #LAST_LOT_INFO_AP
    SELECT PRICE_SAL
    FROM ASSORTMENT_PLAN AP
    WHERE ID_GOODS = @ID_GOODS
		AND ID_CONTRACTOR = @ID_CONTRACTOR
		AND DATE_DELETED IS NOT NULL

    INSERT INTO #LAST_LOT_INFO
    SELECT
        GROUP_ID = 1,
        NAME ='Цена поставщика',
        VALUE_CHAR = CONVERT(VARCHAR(300), NULL),
        VALUE_DATE = CONVERT(DATETIME, NULL),
        VALUE_MONEY = LLI.PRICE_SUP0,
        IN_SHORT = CONVERT(BIT, 0),
        VALUE_TYPE = 3,
        IS_PRICE_SAL = 0,
        PRORITY = 0
    FROM #LAST_LOT_INFO_STORE LLI
    UNION
    SELECT
        1,
        'Цена поставщика с НДС',
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        LLI.PRICE_SUP,
        CONVERT(BIT, 0),
        3,
        0,
        1
    FROM #LAST_LOT_INFO_STORE LLI
    UNION
    SELECT
        1,
        'Цена отпускная',
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        LLI.PRICE_SAL,
        1,
        3,
        1,
        2
    FROM #LAST_LOT_INFO_STORE LLI
    UNION
    SELECT
        1,
        'Остаток на складе',
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        QTY_REM,
        CONVERT(BIT, 0),
        3,
        0,
        3
    FROM #LAST_LOT_INFO_STORE LLI
    UNION
    SELECT
        1,
        'Последняя поставка',
        CONVERT(VARCHAR(300), NULL),
        DATE_OP,
        CONVERT(MONEY, NULL),
        1,
        2,
        0,
        4
    FROM #LAST_LOT_INFO_STORE LLI
    UNION
    SELECT
        1,
        'Поставщик',
        SUPPLIER,
        CONVERT(DATETIME, NULL),
        CONVERT(MONEY, NULL),
        1,
        1,
        0,
        5
    FROM #LAST_LOT_INFO_STORE LLI

    INSERT INTO #LAST_LOT_INFO
    SELECT
        3,
        CONVERT(VARCHAR(100), NULL),
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        CONVERT(MONEY, NULL),
        0,
        3,
        0,
        0
    FROM #LAST_LOT_INFO_AP
    UNION ALL
    SELECT
        3,
        CONVERT(VARCHAR(100), NULL),
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        CONVERT(MONEY, NULL),
        0,
        3,
        0,
        1
    FROM #LAST_LOT_INFO_AP
    UNION ALL
    SELECT
        3,
        'Цена акции',
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        PRICE_SAL,
        1,
        3,
        1,
        2
    FROM #LAST_LOT_INFO_AP
    UNION ALL
    SELECT
        3,
        CONVERT(VARCHAR(100), NULL),
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        CONVERT(MONEY, NULL),
        0,
        3,
        0,
        3
    FROM #LAST_LOT_INFO_AP
    UNION ALL
    SELECT
        3,
        CONVERT(VARCHAR(100), NULL),
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        CONVERT(MONEY, NULL),
        0,
        3,
        0,
        4
    FROM #LAST_LOT_INFO_AP
    UNION ALL
    SELECT
        3,
        CONVERT(VARCHAR(100), NULL),
        CONVERT(VARCHAR(300), NULL),
        CONVERT(DATETIME, NULL),
        CONVERT(MONEY, NULL),
        0,
        3,
        0,
        5
    FROM #LAST_LOT_INFO_AP

	DECLARE @USE_NETWORK_INFO BIT
	SET @USE_NETWORK_INFO = ISNULL((select top(1) VALUE from SYS_OPTION WHERE CODE = 'USE_LAST_LOT_NETWORK_INFO'),1)

	IF @USE_NETWORK_INFO = 1
	BEGIN

		CREATE TABLE #LAST_LOT_INFO_NETWORK(
			PRICE_SUP0 MONEY,
			PRICE_SUP MONEY,
			PRICE_SAL MONEY,
			QTY_REM MONEY,
			DATE_OP DATETIME,
			SUPPLIER VARCHAR(255)
		)

		INSERT INTO #LAST_LOT_INFO_NETWORK
		SELECT
			(L.PRICE_SUP - L.PVAT_SUP) * CONVERT(MONEY, SR.DENOMINATOR) / SR.NUMERATOR,
			L.PRICE_SUP * CONVERT(MONEY, SR.DENOMINATOR) / SR.NUMERATOR,
			L.PRICE_SAL * CONVERT(MONEY, SR.DENOMINATOR) / SR.NUMERATOR,
			CONVERT(MONEY, NULL),
			LAST_LOT.DATE_OP,
			SUP.NAME
		FROM LOT L
		INNER JOIN SCALING_RATIO SR ON SR.ID_SCALING_RATIO = L.ID_SCALING_RATIO
		INNER JOIN CONTRACTOR SUP ON SUP.ID_CONTRACTOR = L.ID_SUPPLIER
		INNER JOIN (
			SELECT TOP 1
				L.ID_LOT_GLOBAL,
				DATE_OP = L.INVOICE_DATE
			FROM #LOT L
				INNER JOIN STORE S ON S.ID_STORE = L.ID_STORE
			WHERE L.ID_TABLE in (2,30)
				AND L.QUANTITY_ADD > 0
				AND S.ID_CONTRACTOR = @ID_CONTRACTOR
			ORDER BY L.INVOICE_DATE DESC
        ) LAST_LOT ON LAST_LOT.ID_LOT_GLOBAL = L.ID_LOT_GLOBAL

		INSERT INTO #LAST_LOT_INFO
		SELECT
			GROUP_ID = 2,
			NAME ='Цена поставщика',
			VALUE_CHAR = CONVERT(VARCHAR(300), NULL),
			VALUE_DATE = CONVERT(DATETIME, NULL),
			VALUE_MONEY = LLI.PRICE_SUP0,
			IN_SHORT = CONVERT(BIT, 0),
			VALUE_TYPE = 3,
			IS_PRICE_SAL = 0,
			PRIORITY = 0
		FROM #LAST_LOT_INFO_NETWORK LLI
		UNION
		SELECT
			2,
			'Цена поставщика с НДС',
			CONVERT(VARCHAR(300), NULL),
			CONVERT(DATETIME, NULL),
			LLI.PRICE_SUP,
			CONVERT(BIT, 0),
			3,
			0,
			1
		FROM #LAST_LOT_INFO_NETWORK LLI
		UNION
		SELECT
			2,
			'Цена отпускная',
			CONVERT(VARCHAR(300), NULL),
			CONVERT(DATETIME, NULL),
			LLI.PRICE_SAL,
			1,
			3,
			1,
			2
		FROM #LAST_LOT_INFO_NETWORK LLI
		UNION
		SELECT
			2,
			CONVERT(VARCHAR(100), NULL),
			CONVERT(VARCHAR(300), NULL),
			CONVERT(DATETIME, NULL),
			QTY_REM,
			CONVERT(BIT, 0),
			3,
			0,
			3
		FROM #LAST_LOT_INFO_NETWORK LLI
		UNION
		SELECT
			2,
			'Последняя поставка',
			CONVERT(VARCHAR(300), NULL),
			DATE_OP,
			CONVERT(MONEY, NULL),
			1,
			2,
			0,
			4
		FROM #LAST_LOT_INFO_NETWORK LLI
		UNION
		SELECT
			2,
			'Поставщик',
			SUPPLIER,
			CONVERT(DATETIME, NULL),
			CONVERT(MONEY, NULL),
			1,
			1,
			0,
			5
		FROM #LAST_LOT_INFO_NETWORK LLI

	END


    CREATE TABLE #GROUPS(
        GROUP_ID INT,
        GROUP_NAME VARCHAR(100),
        HAS_HISTORY BIT,
        PRIORITY INT
    )
    INSERT INTO #GROUPS
    EXEC USP_INVOICE_LAST_LOTS_GROUPS

    SELECT GROUP_ID, GROUP_NAME, HAS_HISTORY, PRIORITY
    FROM #GROUPS G
    WHERE EXISTS (SELECT NULL FROM #LAST_LOT_INFO LLI WHERE LLI.GROUP_ID = G.GROUP_ID)


	
	

    SELECT GROUP_ID, NAME, VALUE_CHAR, VALUE_DATE, VALUE_MONEY, IN_SHORT, VALUE_TYPE, IS_PRICE_SAL, PRIORITY
    FROM #LAST_LOT_INFO LLI
    ORDER BY LLI.GROUP_ID, LLI.PRIORITY



RETURN